* {
    margin: 0;
    padding: 0;
}

.outer-container {
    display: flex;
    flex-direction: column;
    background: linear-gradient(to bottom left, rgb(117, 38, 191), rgb(177, 131, 220), whitesmoke);
    align-items: center;
    justify-content: center;
    height: 100vh;
}

main {
    display: grid;
    grid-template-columns: 200px 200px 200px;
    grid-gap: 2px;
}

app-board {
    border: 1px solid darkslategray solid;
    height: 200px;
}

h1 {
    text-align: left;
    font-weight: 10px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding: 20px 0px;
    width: 100%;
    color: whitesmoke;
}

button {
    font-size: 30px;
    padding: 10px;
    border-radius: 10px;
    border: none;
    margin: 10px;
}

button:hover {
    background-color: rgb(117, 38, 191);
    color: whitesmoke;
    cursor: pointer;
}

h2 {
    font-size: 100px;
    font-family: 'Courier New', Courier, monospace;
    color: whitesmoke;
}